workflows/05879-Schedule-client-meetings-via-web-forms-with-Google-Calendar-Zoom-and.json
{
  "id": 13579,
  "name": "Schedule client meetings via web forms with Google Calendar, Zoom and multi‑channel notifications",
  "views": 14,
  "recentViews": 0,
  "totalViews": 14,
  "createdAt": "2026-02-22T07:10:40.754Z",
  "description": "## Who it's for\nThis **n8n workflow** is designed for businesses, consultants, and service providers who want to automate their meeting scheduling process. The workflow creates a seamless booking system that can handle meeting requests, check availability, create calendar events, set up video conferences, and send notifications through multiple channels.\n\n## Features \n* Integrates with web forms to receive booking requests\n* Checks Google Calendar availability automatically\n* Creates calendar events with booking details\n* Sets up Zoom meetings instantly\n* Sends notifications via email, WhatsApp, Discord, and Teams\n* Notifies politely if requested slots aren’t available\n* Supports Your time zone conversions\n\n## Requirements\n- **Google Calendar API Credentials**: For checking availability and creating events\n- **Zoom API Credentials**: For generating meeting links and video conferences\n- **Gmail OAuth2 Credentials**: For sending email confirmations\n- **Notification Service Credentials**:\n  `Discord Bot API`, `Microsoft Teams API`, `Rapiwa API (for WhatsApp)`\n\n## Important Notes\n- **Time Zone Configuration**: The workflow is set to Asia/Dhaka time zone but can be customized\n- **Meeting Settings**: Default meeting duration (40 minutes) and password can be adjusted\n- **Notification Templates**: All notification messages can be customized to match your brand voice\n- **Calendar Selection**: Ensure the correct Google Calendar ID is configured for your booking system\n\n## Support & Help\n- **WhatsApp**: [Chat on WhatsApp](https://wa.me/8801322827799)\n- **Discord**: [SpaGreen Community](https://discord.gg/SsCChWEP)\n- **Facebook Group**: [SpaGreen Support](https://www.facebook.com/groups/spagreenbd)\n- **Website**: [https://spagreen.net](https://spagreen.net)\n- **Developer Portfolio**: [Codecanyon SpaGreen](https://codecanyon.net/user/spagreen/portfolio)",
  "workflow": {
    "id": "ryzC3hIrv0ur68Hu",
    "meta": {
      "instanceId": "cb9a1e5321767b6316634728341237e564b2587ab15b74ca0a89eb02a53484d6",
      "templateCredsSetupCompleted": true
    },
    "name": "Automated Client Meeting Scheduling & Instant Notifications",
    "tags": [],
    "nodes": [
      {
        "id": "79c5a462-2dae-40eb-b16a-dee23c67509f",
        "name": "Web Contact Form",
        "type": "n8n-nodes-base.webhook",
        "position": [
          -2288,
          1648
        ],
        "webhookId": "93a81ced-e52c-4d31-96d2-c91a20bd7453",
        "parameters": {
          "path": "forms",
          "options": {},
          "httpMethod": "POST"
        },
        "typeVersion": 2
      },
      {
        "id": "cbb25eb9-3c3b-4be7-9a53-aeb83604c707",
        "name": "Create chat message",
        "type": "n8n-nodes-base.microsoftTeams",
        "position": [
          -112,
          1408
        ],
        "webhookId": "cff57660-3326-404f-8e1d-a5e72899f5c3",
        "parameters": {
          "chatId": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "message": "=New booking confirmed!\n\n*Customer:* {{ $('Code (Configure Meeting Information)').item.json.client_name }}\n*Date & Time:* {{ $('Format Date & Time').item.json.formattedDate.toLocaleString('ja-JP', { timeZone: 'Asia/Dhaka' }) }} at {{ $('Code (Configure Meeting Information)').item.json.booking_time }} \n*Zoom Link:* {{ $json.join_url }}",
          "options": {},
          "resource": "chatMessage"
        },
        "credentials": {
          "microsoftTeamsOAuth2Api": {
            "id": "credential-id",
            "name": "Microsoft Teams account"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "a505a5b2-b2eb-4950-9273-dc7b7f350e8b",
        "name": "Send a message",
        "type": "n8n-nodes-base.discord",
        "position": [
          -112,
          1888
        ],
        "webhookId": "302121b8-3595-4b48-b8ba-adb41978d17f",
        "parameters": {
          "sendTo": "user",
          "userId": {
            "__rl": true,
            "mode": "id",
            "value": "your_user_id"
          },
          "content": "=New booking confirmed!\n\n*Customer:* {{ $('Code (Configure Meeting Information)').item.json.client_name }}\n*Date & Time:* {{ $('Format Date & Time').item.json.formattedDate.toLocaleString('ja-JP', { timeZone: 'Asia/Dhaka' }) }} at {{ $('Code (Configure Meeting Information)').item.json.booking_time }} \n*Zoom Link:* {{ $json.join_url }}",
          "guildId": {
            "__rl": true,
            "mode": "id",
            "value": "your_server_id"
          },
          "options": {},
          "resource": "message"
        },
        "credentials": {
          "discordBotApi": {
            "id": "credential-id",
            "name": "Discord Bot account"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "8cc1f34d-a839-4ee4-8c5a-721644dec91b",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -144,
          1360
        ],
        "parameters": {
          "color": 7,
          "width": 208,
          "height": 688,
          "content": "**notification after work is completed**"
        },
        "typeVersion": 1
      },
      {
        "id": "70088ae4-ffcb-4db2-9861-6f409ac4aa9a",
        "name": "Add Event name, Duration, Password",
        "type": "n8n-nodes-base.set",
        "position": [
          -1840,
          1648
        ],
        "parameters": {
          "options": {},
          "assignments": {
            "assignments": [
              {
                "id": "78d435f6-f6ca-48c7-b06c-42989c0d855b",
                "name": "event_title",
                "type": "string",
                "value": "Web Form Meeting Booking"
              },
              {
                "id": "536f6075-40a4-4057-9634-e38932e1e2d9",
                "name": "meeting_time",
                "type": "number",
                "value": 40
              },
              {
                "id": "1e5c7d45-c21c-4564-92df-7d322820b5bf",
                "name": "meeting_password",
                "type": "string",
                "value": "add_your_password"
              }
            ]
          }
        },
        "typeVersion": 3.4
      },
      {
        "id": "9b64a44a-f789-4bcc-94a5-a48eb86f010d",
        "name": "Check Meeting Slot Availability",
        "type": "n8n-nodes-base.if",
        "position": [
          -1168,
          1648
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "14e9293a-f96c-45f1-b216-2c8aaf2fb3e2",
                "operator": {
                  "type": "object",
                  "operation": "empty",
                  "singleValue": true
                },
                "leftValue": "={{ $json }}",
                "rightValue": ""
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "d75704bb-41b5-499a-b39a-8edd3efc1003",
        "name": "Format Date & Time",
        "type": "n8n-nodes-base.dateTime",
        "position": [
          -2064,
          1648
        ],
        "parameters": {
          "date": "={{ $json.body.date }}",
          "options": {},
          "operation": "formatDate"
        },
        "typeVersion": 2
      },
      {
        "id": "226d34b8-6b36-4ac4-9c6e-4d1681c50b52",
        "name": "Send Notice for Unavailable Slot",
        "type": "n8n-nodes-base.gmail",
        "position": [
          -944,
          1744
        ],
        "webhookId": "98dd0319-284e-4b12-a655-a57577571800",
        "parameters": {
          "sendTo": "={{ $('Code (Configure Meeting Information)').item.json.client_email }}",
          "message": "=Hello, {{ $('Code (Configure Meeting Information)').item.json.client_name }}\n\nThank you for your booking request. Unfortunately, the requested time slot on {{ $('Format Date & Time').item.json.formattedDate.toLocaleString('ja-JP', { timeZone: 'Asia/Dhaka' }) }} at {{ $('Code (Configure Meeting Information)').item.json.booking_time }} is not available.\n\nPlease submit a new booking request with an alternative time.\n\nThanks 💌\n— SpaGreen Creative",
          "options": {},
          "subject": "Time slot unavailable."
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "credential-id",
            "name": "Gmail account"
          }
        },
        "typeVersion": 2.1
      },
      {
        "id": "cbc31c02-6bf6-48ce-9cc5-67ab9d69bac7",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -2816,
          1344
        ],
        "parameters": {
          "width": 480,
          "height": 992,
          "content": "## Overview\nThis intelligent workflow automates the meeting scheduling process from web form submissions. It triggers when a potential customer fills out a booking form, checks calendar availability in real-time, creates a calendar event if the slot is available, and sends out confirmations and notifications through multiple channels including email and WhatsApp.\n## How It Works \n1. Triggered automatically when a booking form is submitted via webhook\n2. Formats submitted date and time for processing\n3. Sets default meeting details like title, duration, and password\n4. Extracts customer info and calculates booking times\n5. Checks Google Calendar for slot availability\n6. If available, proceeds to book; if not, sends rejection notice\n7. Creates event in Google Calendar with booking info\n8. (Optional) Creates Zoom meeting for the booking (currently disabled)\n9. Sends confirmation email to customer and WhatsApp notification to team\n10. If slot unavailable, emails customer to select a different time\n### Configure Credential\n* Google Calendar OAuth2 – for availability checks & event creation\n* Zoom API – for meeting creation (currently disabled)\n* Gmail OAuth2 – for sending emails\n* Microsoft Teams OAuth2 – for team notifications (disabled)\n* Discord Bot API – for Discord notifications (disabled)\n* Rapiwa API – for WhatsApp notifications\n## Customization Options \n* Edit meeting title, duration & password in event setup node\n* Modify confirmation & rejection emails in Gmail nodes\n* Customize WhatsApp and other notification messages\n* Change target Google Calendar ID for event creation\n* Enable or disable notification channels (Zoom, Teams, Discord) via their nodes\n## Useful Links\n- **Google Calendar API Documentation**: [Google Calendar Docs](https://developers.google.com/calendar/api)\n- **Zoom API Documentation**: [Zoom Docs](https://marketplace.zoom.us/docs/api-reference/introduction)\n- **Gmail API Documentation**: [Gmail Docs](https://developers.google.com/gmail/api)\n- **Microsoft Teams API Documentation**: [Teams Docs](https://docs.microsoft.com/en-us/microsoftteams/platform/overview)\n- **Discord API Documentation**: [Discord Docs](https://discord.com/developers/docs/intro)\n- **Rapiwa API Documentation**: [Rapiwa Docs](https://rapiwa.com/docs)"
        },
        "typeVersion": 1
      },
      {
        "id": "aa1944aa-70a9-43cf-ae4c-4c8658692540",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -2320,
          1520
        ],
        "parameters": {
          "width": 864,
          "height": 288,
          "content": "# Web Form Meeting Booking & Calendar Check\n* **Trigger:** Starts when someone submits a web booking form\n* **Set Meeting Details:** Sets default meeting title, duration, and password\n* **Extract Info:** Collects customer name, email, message, and booking time\n"
        },
        "typeVersion": 1
      },
      {
        "id": "2ace18c5-5c9f-4ae9-8077-ebfab9516db2",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1008,
          1424
        ],
        "parameters": {
          "width": 720,
          "height": 480,
          "content": "# Notifications & Meeting"
        },
        "typeVersion": 1
      },
      {
        "id": "05e21105-7546-46ee-aacb-11cd967408ca",
        "name": "Code (Configure Meeting Information)",
        "type": "n8n-nodes-base.code",
        "position": [
          -1616,
          1648
        ],
        "parameters": {
          "jsCode": "for (const item of items) {\n  const body = $('Web Contact Form').first().json.body || {};\n  const date = body.date;\n  const time = body.time;\n  const meetingDurationMinutes = $input.first().json.meeting_time || 30; // fallback to 30 if undefined\n\n  let bookingStart = null;\n  let bookingEnd = null;\n  let durationTime = null;\n\n  if (date && time) {\n    const start = new Date(`${date}T${time}:00+06:00`);\n    if (!isNaN(start)) {\n      bookingStart = start.toISOString();\n      bookingEnd = new Date(start.getTime() + meetingDurationMinutes * 60 * 1000).toISOString();\n      durationTime = ((new Date(bookingEnd).getTime() - new Date(bookingStart).getTime()) / (1000 * 60)) + \" minutes\";\n    }\n  }\n\n  item.json = {\n    client_name: body.name || null,\n    client_email: body.email || null,\n    client_messate: body.message || null,\n    booking_date: date || null,\n    booking_time: time || null,\n    booking_start: bookingStart,\n    booking_end: bookingEnd,\n    duration_time: durationTime,\n  };\n}\n\nreturn items;\n"
        },
        "typeVersion": 2
      },
      {
        "id": "97a24283-1ca5-4ceb-aba1-f5a71ed3e48a",
        "name": "Send a Email",
        "type": "n8n-nodes-base.gmail",
        "position": [
          -112,
          1568
        ],
        "webhookId": "04f6ce37-404a-4982-ae2d-dbbaed6b2e90",
        "parameters": {
          "sendTo": "your_mail_address",
          "message": "=New booking confirmed!\n\n*Customer:* {{ $('Code (Configure Meeting Information)').item.json.client_name }}\n*Date & Time:* {{ $('Format Date & Time').item.json.formattedDate.toLocaleString('ja-JP', { timeZone: 'Asia/Dhaka' }) }} at {{ $('Code (Configure Meeting Information)').item.json.booking_time }} \n*Zoom Link:* {{ $json.join_url }}",
          "options": {},
          "subject": "Your Post Update"
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "credential-id",
            "name": "Gmail account"
          }
        },
        "typeVersion": 2.1
      },
      {
        "id": "fe583038-56fd-49d6-ac6a-0eecb9df04bb",
        "name": "Rapiwa ()WhatsApp Message",
        "type": "n8n-nodes-rapiwa.rapiwa",
        "position": [
          -112,
          1728
        ],
        "parameters": {
          "number": "add_your_whatsapp_number",
          "message": "=New booking confirmed!\n\n*Customer:* {{ $('Code (Configure Meeting Information)').item.json.client_name }}\n*Date & Time:* {{ $('Format Date & Time').item.json.formattedDate.toLocaleString('ja-JP', { timeZone: 'Asia/Dhaka' }) }} at {{ $('Code (Configure Meeting Information)').item.json.booking_time }} \n*Zoom Link:* {{ $json.join_url }}"
        },
        "credentials": {
          "rapiwaApi": {
            "id": "credential-id",
            "name": "Rapiwa (Shakil)"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "3dc72378-5fed-4a0d-b72a-cd32f5deb8ab",
        "name": "Checks Google Calendar to see if the requested time slot is free",
        "type": "n8n-nodes-base.googleCalendar",
        "position": [
          -1392,
          1648
        ],
        "parameters": {
          "options": {},
          "timeMax": "={{ $json.booking_start }}",
          "timeMin": "={{ $json.booking_end }}",
          "calendar": {
            "__rl": true,
            "mode": "list",
            "value": "user@example.com",
            "cachedResultName": "Booking meet"
          },
          "operation": "getAll",
          "returnAll": true
        },
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "credential-id",
            "name": "Google Calendar account"
          }
        },
        "typeVersion": 1.3,
        "alwaysOutputData": true
      },
      {
        "id": "e06e4755-3136-42af-9ea9-dc9acab95ade",
        "name": "Notify team via Microsoft Teams",
        "type": "n8n-nodes-base.microsoftTeams",
        "position": [
          -432,
          1440
        ],
        "webhookId": "cff57660-3326-404f-8e1d-a5e72899f5c3",
        "parameters": {
          "teamId": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "message": "=New Booking Confirmed!\n\n*Customer:* {{ $('Code (Configure Meeting Information)').item.json.client_name }}\n*Date & Time:* {{ $('Format Date & Time').item.json.formattedDate.toLocaleString('ja-JP', { timeZone: 'Asia/Dhaka' }) }} at {{ $('Code (Configure Meeting Information)').item.json.booking_time }} \n*Zoom Link:* {{ $json.join_url }}",
          "options": {},
          "resource": "channelMessage",
          "channelId": {
            "__rl": true,
            "mode": "list",
            "value": ""
          }
        },
        "credentials": {
          "microsoftTeamsOAuth2Api": {
            "id": "credential-id",
            "name": "Microsoft Teams account"
          }
        },
        "typeVersion": 2
      },
      {
        "id": "d0e09ab9-9ef5-4761-a4d5-bd0e88baaaf9",
        "name": "Send confirmation email to client",
        "type": "n8n-nodes-base.gmail",
        "position": [
          -432,
          1648
        ],
        "webhookId": "f28b9459-360b-4cad-9f2e-0d69654e795b",
        "parameters": {
          "sendTo": "={{ $('Code (Configure Meeting Information)').item.json.client_email }}",
          "message": "=Hello, {{ $('Code (Configure Meeting Information)').item.json.client_name }}\n\nYour booking has been confirmed!\nDate & Time: {{ $('Format Date & Time').item.json.formattedDate.toLocaleString('ja-JP', { timeZone: 'Asia/Dhaka' }) }} at {{ $('Code (Configure Meeting Information)').item.json.booking_time }} \n\nZoom Meeting Link: {{ $json.join_url }}\n\nLooking forward to meeting you!\nThanks 💌\n— SpaGreen Creative",
          "options": {},
          "subject": "=Booking Confirmed: {{ $('Format Date & Time').item.json.formattedDate.toLocaleString('ja-JP', { timeZone: 'Asia/Dhaka' }) }} at {{ $('Code (Configure Meeting Information)').item.json.booking_time }}"
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "credential-id",
            "name": "Gmail account"
          }
        },
        "typeVersion": 2.1
      },
      {
        "id": "7078a0c9-ae58-40a8-9473-240dcc6fadf0",
        "name": "Create Zoom meeting with client info",
        "type": "n8n-nodes-base.zoom",
        "position": [
          -720,
          1552
        ],
        "parameters": {
          "topic": "=Booking with {{ $('Code (Configure Meeting Information)').item.json.client_name }}",
          "additionalFields": {
            "type": 1,
            "duration": "={{ $('Code (Configure Meeting Information)').item.json.duration_time }}",
            "password": "YOUR_CREDENTIAL_HERE",
            "timeZone": "Asia/Dhaka",
            "startTime": "={{ $('Code (Configure Meeting Information)').item.json.booking_start }}"
          }
        },
        "credentials": {
          "zoomApi": {
            "id": "credential-id",
            "name": "Zoom account"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "23c8a4b0-18b4-4427-b52c-cf0cca73767f",
        "name": "Create Event Using Web Submission Form (Add booking to Google Calendar with details & reminders)",
        "type": "n8n-nodes-base.googleCalendar",
        "position": [
          -944,
          1552
        ],
        "parameters": {
          "end": "={{ $('Code (Configure Meeting Information)').item.json.booking_end }}",
          "start": "={{ $('Code (Configure Meeting Information)').item.json.booking_start }}",
          "calendar": {
            "__rl": true,
            "mode": "list",
            "value": "user@example.com",
            "cachedResultName": "Booking meet"
          },
          "remindersUi": {
            "remindersValues": [
              {
                "method": "email",
                "minutes": 10
              },
              {
                "method": "popup",
                "minutes": 5
              }
            ]
          },
          "additionalFields": {
            "color": "3",
            "summary": "={{ $('Add Event name, Duration, Password').item.json.event_title }}",
            "description": "=Meeting With {{ $('Code (Configure Meeting Information)').item.json.client_name }}\nTopic: {{ $('Code (Configure Meeting Information)').item.json.client_messate }}"
          },
          "useDefaultReminders": false
        },
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "credential-id",
            "name": "Google Calendar account"
          }
        },
        "typeVersion": 1.3
      }
    ],
    "active": false,
    "pinData": {
      "Web Contact Form": [
        {
          "json": {
            "body": {
              "date": "2026-01-22",
              "name": "Shakil Ahammed",
              "time": "10:00",
              "email": "admin@gmail.com",
              "message": "I want to meet with your team"
            },
            "query": {},
            "params": {},
            "headers": {
              "via": "2.0 Caddy",
              "host": "n8.spagreen.net",
              "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
              "origin": "null",
              "priority": "u=0, i",
              "sec-ch-ua": "\"Not(A:Brand\";v=\"8\", \"Chromium\";v=\"144\", \"Google Chrome\";v=\"144\"",
              "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36",
              "content-type": "application/x-www-form-urlencoded",
              "cache-control": "max-age=0",
              "content-length": "110",
              "sec-fetch-dest": "document",
              "sec-fetch-mode": "navigate",
              "sec-fetch-site": "cross-site",
              "sec-fetch-user": "?1",
              "accept-encoding": "gzip, deflate, br, zstd",
              "accept-language": "en-US,en;q=0.9,bn;q=0.8",
              "x-forwarded-for": "61.247.178.118",
              "sec-ch-ua-mobile": "?0",
              "x-forwarded-host": "n8.spagreen.net",
              "x-forwarded-proto": "https",
              "sec-ch-ua-platform": "\"Windows\"",
              "upgrade-insecure-requests": "1"
            },
            "webhookUrl": "https://n8.spagreen.net/webhook-test/forms",
            "executionMode": "test"
          },
          "pairedItem": {
            "item": 0
          }
        }
      ]
    },
    "settings": {
      "availableInMCP": false,
      "executionOrder": "v1"
    },
    "versionId": "3eb2fea1-59a3-4d0a-a1ea-978ee2cfc164",
    "connections": {
      "Web Contact Form": {
        "main": [
          [
            {
              "node": "Format Date & Time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Date & Time": {
        "main": [
          [
            {
              "node": "Add Event name, Duration, Password",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Meeting Slot Availability": {
        "main": [
          [
            {
              "node": "Create Event Using Web Submission Form (Add booking to Google Calendar with details & reminders)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Notice for Unavailable Slot",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send confirmation email to client": {
        "main": [
          [
            {
              "node": "Create chat message",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send a Email",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            },
            {
              "node": "Rapiwa ()WhatsApp Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add Event name, Duration, Password": {
        "main": [
          [
            {
              "node": "Code (Configure Meeting Information)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code (Configure Meeting Information)": {
        "main": [
          [
            {
              "node": "Checks Google Calendar to see if the requested time slot is free",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Zoom meeting with client info": {
        "main": [
          [
            {
              "node": "Send confirmation email to client",
              "type": "main",
              "index": 0
            },
            {
              "node": "Notify team via Microsoft Teams",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Checks Google Calendar to see if the requested time slot is free": {
        "main": [
          [
            {
              "node": "Check Meeting Slot Availability",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Event Using Web Submission Form (Add booking to Google Calendar with details & reminders)": {
        "main": [
          [
            {
              "node": "Create Zoom meeting with client info",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "lastUpdatedBy": 1,
  "workflowInfo": {
    "nodeCount": 19,
    "nodeTypes": {
      "n8n-nodes-base.if": {
        "count": 1
      },
      "n8n-nodes-base.set": {
        "count": 1
      },
      "n8n-nodes-base.code": {
        "count": 1
      },
      "n8n-nodes-base.zoom": {
        "count": 1
      },
      "n8n-nodes-base.gmail": {
        "count": 3
      },
      "n8n-nodes-base.discord": {
        "count": 1
      },
      "n8n-nodes-base.webhook": {
        "count": 1
      },
      "n8n-nodes-base.dateTime": {
        "count": 1
      },
      "n8n-nodes-rapiwa.rapiwa": {
        "count": 1
      },
      "n8n-nodes-base.stickyNote": {
        "count": 4
      },
      "n8n-nodes-base.googleCalendar": {
        "count": 2
      },
      "n8n-nodes-base.microsoftTeams": {
        "count": 2
      }
    }
  },
  "status": "published",
  "readyToDemo": null,
  "user": {
    "name": "SpaGreen Creative",
    "username": "spagreen",
    "bio": "SpaGreen Creative is a leading software company specializing in SaaS solutions, AI automation, and Laravel/Vue.js development. With 800+ eCommerce platforms and 8,000+ global clients, we deliver powerful tools for OTT, CRM, ERP, and WhatsApp marketing. We combine innovation and tech to build scalable digital products.",
    "verified": true,
    "links": [
      "https://store.spagreen.net/"
    ],
    "avatar": "https://gravatar.com/avatar/9f81e10059c7190d2e02eb1ca9f9b47edf6ba60576a963a997783746762920f6?r=pg&d=retro&size=200"
  },
  "nodes": [
    {
      "id": 20,
      "icon": "fa:map-signs",
      "name": "n8n-nodes-base.if",
      "codex": {
        "data": {
          "alias": [
            "Router",
            "Filter",
            "Condition",
            "Logic",
            "Boolean",
            "Branch"
          ],
          "details": "The IF node can be used to implement binary conditional logic in your workflow. You can set up one-to-many conditions to evaluate each item of data being inputted into the node. That data will either evaluate to TRUE or FALSE and route out of the node accordingly.\n\nThis node has multiple types of conditions: Bool, String, Number, and Date & Time.",
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                "icon": "🏭",
                "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
              },
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/create-a-toxic-language-detector-for-telegram/",
                "icon": "🤬",
                "label": "Create a toxic language detector for Telegram in 4 step"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/automation-for-maintainers-of-open-source-projects/",
                "icon": "🏷️",
                "label": "How to automatically manage contributions to open-source projects"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                "icon": "🙌",
                "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.if/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Flow"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "If",
        "color": "#408000"
      },
      "iconData": {
        "icon": "map-signs",
        "type": "icon"
      },
      "displayName": "If",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 38,
      "icon": "fa:pen",
      "name": "n8n-nodes-base.set",
      "codex": {
        "data": {
          "alias": [
            "Set",
            "JS",
            "JSON",
            "Filter",
            "Transform",
            "Map"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                "icon": "🏭",
                "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
              },
              {
                "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                "icon": "☀️",
                "label": "2021: The Year to Automate the New You with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                "icon": "📈",
                "label": "Automatically pulling and visualizing data with n8n"
              },
              {
                "url": "https://n8n.io/blog/database-monitoring-and-alerting-with-n8n/",
                "icon": "📡",
                "label": "Database Monitoring and Alerting with n8n"
              },
              {
                "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                "icon": "🧾",
                "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                "icon": "⚙️",
                "label": "Automate your data processing pipeline in 9 steps"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                "icon": " 🕸️",
                "label": "How uProc scraped a multi-page website with a low-code workflow"
              },
              {
                "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                "icon": "📱",
                "label": "Building an expense tracking app in 10 minutes"
              },
              {
                "url": "https://n8n.io/blog/the-ultimate-guide-to-automate-your-video-collaboration-with-whereby-mattermost-and-n8n/",
                "icon": "📹",
                "label": "The ultimate guide to automate your video collaboration with Whereby, Mattermost, and n8n"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/learn-to-build-powerful-api-endpoints-using-webhooks/",
                "icon": "🧰",
                "label": "Learn to Build Powerful API Endpoints Using Webhooks"
              },
              {
                "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                "icon": "📈",
                "label": "How a Membership Development Manager automates his work and investments"
              },
              {
                "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                "icon": "📈",
                "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
              },
              {
                "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                "icon": "🎡",
                "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
              },
              {
                "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                "icon": "🎖",
                "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              },
              {
                "url": "https://n8n.io/blog/aws-workflow-automation/",
                "label": "7 no-code workflow automations for Amazon Web Services"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.set/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Edit Fields"
      },
      "iconData": {
        "icon": "pen",
        "type": "icon"
      },
      "displayName": "Edit Fields (Set)",
      "typeVersion": 3,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 47,
      "icon": "file:webhook.svg",
      "name": "n8n-nodes-base.webhook",
      "codex": {
        "data": {
          "alias": [
            "HTTP",
            "API",
            "Build",
            "WH"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                "icon": "✍️",
                "label": "Learn how to automatically cross-post your content with n8n"
              },
              {
                "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                "icon": "🛳",
                "label": "Running n8n on ships: An interview with Maranics"
              },
              {
                "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                "icon": "🔗",
                "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
              },
              {
                "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                "icon": " 🪢",
                "label": "What are APIs and how to use them with no code"
              },
              {
                "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                "icon": "⚡️",
                "label": "5 tasks you can automate with the new Notion API "
              },
              {
                "url": "https://n8n.io/blog/how-a-digital-strategist-uses-n8n-for-online-marketing/",
                "icon": "💻",
                "label": "How a digital strategist uses n8n for online marketing"
              },
              {
                "url": "https://n8n.io/blog/the-ultimate-guide-to-automate-your-video-collaboration-with-whereby-mattermost-and-n8n/",
                "icon": "📹",
                "label": "The ultimate guide to automate your video collaboration with Whereby, Mattermost, and n8n"
              },
              {
                "url": "https://n8n.io/blog/how-to-automatically-give-kudos-to-contributors-with-github-slack-and-n8n/",
                "icon": "👏",
                "label": "How to automatically give kudos to contributors with GitHub, Slack, and n8n"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automations for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                "icon": "🧠",
                "label": "Why this Product Manager loves workflow automation with n8n"
              },
              {
                "url": "https://n8n.io/blog/creating-custom-incident-response-workflows-with-n8n/",
                "label": "How to automate every step of an incident response workflow"
              },
              {
                "url": "https://n8n.io/blog/learn-to-build-powerful-api-endpoints-using-webhooks/",
                "icon": "🧰",
                "label": "Learn to Build Powerful API Endpoints Using Webhooks"
              },
              {
                "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                "icon": "🦄",
                "label": "Learn how to use webhooks with Mattermost slash commands"
              },
              {
                "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                "icon": "🛵",
                "label": "How Goomer automated their operations with over 200 n8n workflows"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.webhook/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"trigger\"]",
      "defaults": {
        "name": "Webhook"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCI+PHBhdGggZmlsbD0iIzM3NDc0ZiIgZD0iTTM1IDM3Yy0yLjIgMC00LTEuOC00LTRzMS44LTQgNC00IDQgMS44IDQgNC0xLjggNC00IDQiLz48cGF0aCBmaWxsPSIjMzc0NzRmIiBkPSJNMzUgNDNjLTMgMC01LjktMS40LTcuOC0zLjdsMy4xLTIuNWMxLjEgMS40IDIuOSAyLjMgNC43IDIuMyAzLjMgMCA2LTIuNyA2LTZzLTIuNy02LTYtNmMtMSAwLTIgLjMtMi45LjdsLTEuNyAxTDIzLjMgMTZsMy41LTEuOSA1LjMgOS40YzEtLjMgMi0uNSAzLS41IDUuNSAwIDEwIDQuNSAxMCAxMFM0MC41IDQzIDM1IDQzIi8+PHBhdGggZmlsbD0iIzM3NDc0ZiIgZD0iTTE0IDQzQzguNSA0MyA0IDM4LjUgNCAzM2MwLTQuNiAzLjEtOC41IDcuNS05LjdsMSAzLjlDOS45IDI3LjkgOCAzMC4zIDggMzNjMCAzLjMgMi43IDYgNiA2czYtMi43IDYtNnYtMmgxNXY0SDIzLjhjLS45IDQuNi01IDgtOS44IDgiLz48cGF0aCBmaWxsPSIjZTkxZTYzIiBkPSJNMTQgMzdjLTIuMiAwLTQtMS44LTQtNHMxLjgtNCA0LTQgNCAxLjggNCA0LTEuOCA0LTQgNCIvPjxwYXRoIGZpbGw9IiMzNzQ3NGYiIGQ9Ik0yNSAxOWMtMi4yIDAtNC0xLjgtNC00czEuOC00IDQtNCA0IDEuOCA0IDQtMS44IDQtNCA0Ii8+PHBhdGggZmlsbD0iI2U5MWU2MyIgZD0ibTE1LjcgMzQtMy40LTIgNS45LTkuN2MtMi0xLjktMy4yLTQuNS0zLjItNy4zIDAtNS41IDQuNS0xMCAxMC0xMHMxMCA0LjUgMTAgMTBjMCAuOS0uMSAxLjctLjMgMi41bC0zLjktMWMuMS0uNS4yLTEgLjItMS41IDAtMy4zLTIuNy02LTYtNnMtNiAyLjctNiA2YzAgMi4xIDEuMSA0IDIuOSA1LjFsMS43IDF6Ii8+PC9zdmc+"
      },
      "displayName": "Webhook",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 60,
      "icon": "file:discord.svg",
      "name": "n8n-nodes-base.discord",
      "codex": {
        "data": {
          "alias": [
            "human",
            "form",
            "wait",
            "hitl",
            "approval"
          ],
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.discord/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/discord/"
              }
            ]
          },
          "categories": [
            "Communication",
            "HITL"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "HITL": [
              "Human in the Loop"
            ]
          }
        }
      },
      "group": "[\"output\"]",
      "defaults": {
        "name": "Discord"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNTYiIGhlaWdodD0iMTk5IiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCI+PHBhdGggZmlsbD0iIzU4NjVGMiIgZD0iTTIxNi44NTYgMTYuNTk3QTIwOC41IDIwOC41IDAgMCAwIDE2NC4wNDIgMGMtMi4yNzUgNC4xMTMtNC45MzMgOS42NDUtNi43NjYgMTQuMDQ2cS0yOS41MzgtNC40NDItNTguNTMzIDBjLTEuODMyLTQuNC00LjU1LTkuOTMzLTYuODQ2LTE0LjA0NmEyMDcuOCAyMDcuOCAwIDAgMC01Mi44NTUgMTYuNjM4QzUuNjE4IDY3LjE0Ny0zLjQ0MyAxMTYuNCAxLjA4NyAxNjQuOTU2YzIyLjE2OSAxNi41NTUgNDMuNjUzIDI2LjYxMiA2NC43NzUgMzMuMTkzQTE2MSAxNjEgMCAwIDAgNzkuNzM1IDE3NS4zYTEzNi40IDEzNi40IDAgMCAxLTIxLjg0Ni0xMC42MzIgMTA5IDEwOSAwIDAgMCA1LjM1Ni00LjIzN2M0Mi4xMjIgMTkuNzAyIDg3Ljg5IDE5LjcwMiAxMjkuNTEgMGExMzIgMTMyIDAgMCAwIDUuMzU1IDQuMjM3IDEzNiAxMzYgMCAwIDEtMjEuODg2IDEwLjY1M2M0LjAwNiA4LjAyIDguNjM4IDE1LjY3IDEzLjg3MyAyMi44NDggMjEuMTQyLTYuNTggNDIuNjQ2LTE2LjYzNyA2NC44MTUtMzMuMjEzIDUuMzE2LTU2LjI4OC05LjA4LTEwNS4wOS0zOC4wNTYtMTQ4LjM2TTg1LjQ3NCAxMzUuMDk1Yy0xMi42NDUgMC0yMy4wMTUtMTEuODA1LTIzLjAxNS0yNi4xOHMxMC4xNDktMjYuMiAyMy4wMTUtMjYuMiAyMy4yMzYgMTEuODA0IDIzLjAxNSAyNi4yYy4wMiAxNC4zNzUtMTAuMTQ4IDI2LjE4LTIzLjAxNSAyNi4xOG04NS4wNTEgMGMtMTIuNjQ1IDAtMjMuMDE0LTExLjgwNS0yMy4wMTQtMjYuMThzMTAuMTQ4LTI2LjIgMjMuMDE0LTI2LjJjMTIuODY3IDAgMjMuMjM2IDExLjgwNCAyMy4wMTUgMjYuMiAwIDE0LjM3NS0xMC4xNDggMjYuMTgtMjMuMDE1IDI2LjE4Ii8+PC9zdmc+"
      },
      "displayName": "Discord",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        },
        {
          "id": 28,
          "name": "HITL"
        }
      ]
    },
    {
      "id": 221,
      "icon": "fa:clock",
      "name": "n8n-nodes-base.dateTime",
      "codex": {
        "data": {
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.datetime/"
              }
            ]
          },
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Date & Time",
        "color": "#408000"
      },
      "iconData": {
        "icon": "clock",
        "type": "icon"
      },
      "displayName": "Date & Time",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 317,
      "icon": "file:googleCalendar.svg",
      "name": "n8n-nodes-base.googleCalendar",
      "codex": {
        "data": {
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/how-to-host-virtual-coffee-breaks-with-n8n/",
                "icon": "☕️",
                "label": "How to host virtual coffee breaks with n8n"
              },
              {
                "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                "icon": "🎫",
                "label": "Supercharging your conference registration process with n8n"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                "icon": " 🖥️",
                "label": "Hey founders! Your business doesn't need you to operate"
              },
              {
                "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                "icon": "🤖",
                "label": "5 workflow automation for Mattermost that we love at n8n"
              },
              {
                "url": "https://n8n.io/blog/tracking-time-spent-in-meetings-with-google-calendar-twilio-and-n8n/",
                "icon": "🗓",
                "label": "Tracking Time Spent in Meetings With Google Calendar, Twilio, and n8n"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googlecalendar/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
              }
            ]
          },
          "categories": [
            "Productivity"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Google Calendar"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgODEgODIiPjx1c2UgeGxpbms6aHJlZj0iI2EiIHg9Ii41IiB5PSIuNSIvPjxzeW1ib2wgaWQ9ImEiIG92ZXJmbG93PSJ2aXNpYmxlIj48ZyBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSI+PHBhdGggZD0iTTYxLjA1MiAxOC45NDdIMTguOTQ3djQyLjEwNWg0Mi4xMDV6Ii8+PHBhdGggZmlsbD0iI2VhNDMzNSIgZD0iTTYxLjA1MyA4MCA4MCA2MS4wNTNINjEuMDUzeiIvPjxwYXRoIGZpbGw9IiNmYmJjMDQiIGQ9Ik04MCAxOC45NDdINjEuMDUzdjQyLjEwNUg4MHoiLz48cGF0aCBmaWxsPSIjMzRhODUzIiBkPSJNNjEuMDUyIDYxLjA1M0gxOC45NDdWODBoNDIuMTA1eiIvPjxwYXRoIGZpbGw9IiMxODgwMzgiIGQ9Ik0wIDYxLjA1M3YxMi42MzJBNi4zMTQgNi4zMTQgMCAwIDAgNi4zMTYgODBoMTIuNjMyVjYxLjA1M3oiLz48cGF0aCBmaWxsPSIjMTk2N2QyIiBkPSJNODAgMTguOTQ3VjYuMzE2QTYuMzE0IDYuMzE0IDAgMCAwIDczLjY4NSAwSDYxLjA1M3YxOC45NDd6Ii8+PHBhdGggZmlsbD0iIzQyODVmNCIgZD0iTTYxLjA1MyAwSDYuMzE2QTYuMzE0IDYuMzE0IDAgMCAwIDAgNi4zMTZ2NTQuNzM3aDE4Ljk0N1YxOC45NDdoNDIuMTA1VjB6TTI3LjU4NCA1MS42MTFjLTEuNTc0LTEuMDYzLTIuNjYzLTIuNjE2LTMuMjU4LTQuNjY4bDMuNjUzLTEuNTA1cS40OTggMS44OTQgMS43MzcgMi45MzdjMS4yMzkgMS4wNDMgMS44MjEgMS4wMzcgMi45ODkgMS4wMzdxMS43OTIgMCAzLjA3OS0xLjA4OWMxLjI4Ny0xLjA4OSAxLjI5LTEuNjUzIDEuMjktMi43NzRhMy40NCAzLjQ0IDAgMCAwLTEuMzU4LTIuODExYy0uOTA1LS43MjctMi4wNDItMS4wODktMy40LTEuMDg5aC0yLjExMXYtMy42MTZIMzIuMXExLjc1MiAwIDIuOTUzLS45NDdjMS4yMDEtLjk0NyAxLjItMS40OTUgMS4yLTIuNTk1cTAtMS40NjctMS4wNzQtMi4zNDJjLTEuMDc0LS44NzUtMS42MjEtLjg3OS0yLjcyMS0uODc5cS0xLjYxLS4wMDItMi41NTguODU4Yy0uOTQ4Ljg2LTEuMTA2IDEuMzAxLTEuMzc5IDIuMTExbC0zLjYxNi0xLjUwNWMuNDc5LTEuMzU4IDEuMzU4LTIuNTU4IDIuNjQ3LTMuNTk1czIuOTM3LTEuNTU4IDQuOTM3LTEuNTU4cTIuMjItLjAwMiAzLjk4OS44NThjMS43NjkuODYgMi4xMDUgMS4zNjggMi43NzQgMi4zNzlzMSAyLjE1MyAxIDMuNDE2cTAgMS45MzItLjkzMiAzLjI3NGMtLjkzMiAxLjM0Mi0xLjM4NCAxLjU3OS0yLjI4OSAyLjA1OHYuMjE2YTYuOTUgNi45NSAwIDAgMSAyLjkzNyAyLjI4OXExLjE0NiAxLjUzOCAxLjE0NyAzLjY4NGMuMDAxIDIuMTQ2LS4zNjMgMi43MTEtMS4wODkgMy44MzJzLTEuNzMyIDIuMDA1LTMuMDA1IDIuNjQ3Yy0xLjI3OS42NDItMi43MTYuOTY4LTQuMzExLjk2OC0xLjg0Ny4wMDUtMy41NTMtLjUyNi01LjEyNi0xLjU4OXptMjIuNDM3LTE4LjEyNi00LjAxIDIuOS0yLjAwNS0zLjA0MiA3LjE5NS01LjE4OWgyLjc1OHYyNC40NzloLTMuOTM3VjMzLjQ4NHoiLz48L2c+PC9zeW1ib2w+PC9zdmc+"
      },
      "displayName": "Google Calendar",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 4,
          "name": "Productivity"
        }
      ]
    },
    {
      "id": 341,
      "icon": "file:zoom.svg",
      "name": "n8n-nodes-base.zoom",
      "codex": {
        "data": {
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.zoom/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/zoom/"
              }
            ]
          },
          "categories": [
            "Communication"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0"
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Zoom"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB2aWV3Qm94PSIwIDAgNjUgNjUiPjx1c2UgeGxpbms6aHJlZj0iI2EiIHg9Ii41IiB5PSIuNSIvPjxzeW1ib2wgaWQ9ImEiIG92ZXJmbG93PSJ2aXNpYmxlIj48ZyBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSI+PHBhdGggZD0iTTAgMzJDMCAxNC4yNzIgMTQuMjcyIDAgMzIgMHMzMiAxNC4yNzIgMzIgMzItMTQuMjcyIDMyLTMyIDMyUzAgNDkuNzI4IDAgMzIiLz48cGF0aCBmaWxsPSIjNGE4Y2ZmIiBkPSJNMy4xMzcgMzJBMjguOCAyOC44IDAgMCAxIDMyIDMuMTM3IDI4LjggMjguOCAwIDAgMSA2MC44NjIgMzIgMjguOCAyOC44IDAgMCAxIDMyIDYwLjg2MiAyOC44IDI4LjggMCAwIDEgMy4xMzcgMzIiLz48cGF0aCBkPSJtNDAuNzg0IDI4LjI1NCA4LjE1Ny01Ljk2MWMuNzEyLS41OCAxLjI1NS0uNDQ1IDEuMjU1LjYyN3YxOC4xNzdjMCAxLjIwNS0uNjc4IDEuMDY3LTEuMjU1LjYyN2wtOC4xNTctNS45NjF6bS0yNy42MDgtNS4yODl2MTMuNTUzYTUuNTUgNS41NSAwIDAgMCA1LjU3NSA1LjUyMmgxOS43NjVhMS4wMSAxLjAxIDAgMCAwIDEuMDEzLTEuMDA0VjI3LjQ4M2E1LjU1IDUuNTUgMCAwIDAtNS41NzUtNS41MjJIMTQuMTg5YTEuMDEgMS4wMSAwIDAgMC0xLjAxMyAxLjAwNCIvPjwvZz48L3N5bWJvbD48L3N2Zz4="
      },
      "displayName": "Zoom",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        }
      ]
    },
    {
      "id": 356,
      "icon": "file:gmail.svg",
      "name": "n8n-nodes-base.gmail",
      "codex": {
        "data": {
          "alias": [
            "email",
            "human",
            "form",
            "wait",
            "hitl",
            "approval"
          ],
          "resources": {
            "generic": [
              {
                "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                "icon": "🧬",
                "label": "Why business process automation with n8n can change your daily life"
              },
              {
                "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                "icon": "🎫",
                "label": "Supercharging your conference registration process with n8n"
              },
              {
                "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                "icon": "store",
                "label": "6 e-commerce workflows to power up your Shopify s"
              },
              {
                "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                "icon": "👥",
                "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
              },
              {
                "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                "icon": "💡",
                "label": "15 Google apps you can combine and automate to increase productivity"
              },
              {
                "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                "icon": " 🖥️",
                "label": "Hey founders! Your business doesn't need you to operate"
              },
              {
                "url": "https://n8n.io/blog/using-automation-to-boost-productivity-in-the-workplace/",
                "icon": "💪",
                "label": "Using Automation to Boost Productivity in the Workplace"
              }
            ],
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.gmail/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
              }
            ]
          },
          "categories": [
            "Communication",
            "HITL"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "HITL": [
              "Human in the Loop"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Gmail"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNTYiIGhlaWdodD0iMTkzIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCI+PHBhdGggZmlsbD0iIzQyODVGNCIgZD0iTTU4LjE4MiAxOTIuMDVWOTMuMTRMMjcuNTA3IDY1LjA3NyAwIDQ5LjUwNHYxMjUuMDkxYzAgOS42NTggNy44MjUgMTcuNDU1IDE3LjQ1NSAxNy40NTV6Ii8+PHBhdGggZmlsbD0iIzM0QTg1MyIgZD0iTTE5Ny44MTggMTkyLjA1aDQwLjcyN2M5LjY1OSAwIDE3LjQ1NS03LjgyNiAxNy40NTUtMTcuNDU1VjQ5LjUwNWwtMzEuMTU2IDE3LjgzNy0yNy4wMjYgMjUuNzk4eiIvPjxwYXRoIGZpbGw9IiNFQTQzMzUiIGQ9Im01OC4xODIgOTMuMTQtNC4xNzQtMzguNjQ3IDQuMTc0LTM2Ljk4OUwxMjggNjkuODY4bDY5LjgxOC01Mi4zNjQgNC42NyAzNC45OTItNC42NyA0MC42NDRMMTI4IDE0NS41MDR6Ii8+PHBhdGggZmlsbD0iI0ZCQkMwNCIgZD0iTTE5Ny44MTggMTcuNTA0VjkzLjE0TDI1NiA0OS41MDRWMjYuMjMxYzAtMjEuNTg1LTI0LjY0LTMzLjg5LTQxLjg5LTIwLjk0NXoiLz48cGF0aCBmaWxsPSIjQzUyMjFGIiBkPSJtMCA0OS41MDQgMjYuNzU5IDIwLjA3TDU4LjE4MiA5My4xNFYxNy41MDRMNDEuODkgNS4yODZDMjQuNjEtNy42NiAwIDQuNjQ2IDAgMjYuMjN6Ii8+PC9zdmc+"
      },
      "displayName": "Gmail",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        },
        {
          "id": 28,
          "name": "HITL"
        }
      ]
    },
    {
      "id": 368,
      "icon": "file:teams.svg",
      "name": "n8n-nodes-base.microsoftTeams",
      "codex": {
        "data": {
          "alias": [
            "human",
            "form",
            "wait",
            "hitl",
            "approval"
          ],
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.microsoftteams/"
              }
            ],
            "credentialDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/credentials/microsoft/"
              }
            ]
          },
          "categories": [
            "Communication",
            "HITL"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "HITL": [
              "Human in the Loop"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Microsoft Teams"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMzgxLjQgMjM1NC41Ij48cGF0aCBmaWxsPSIjNTU1OGFmIiBkPSJNMjAxNS42IDg5OS4yYzE5LjUgMTkuNSA0Mi41IDM1IDY3LjkgNDUuOCA1MyAyMi4yIDExMi43IDIyLjIgMTY1LjggMCA1MS4yLTIxLjggOTItNjIuNSAxMTMuNy0xMTMuNyAyMi4yLTUzIDIyLjItMTEyLjcgMC0xNjUuOC0yMS44LTUxLjItNjIuNS05Mi0xMTMuNy0xMTMuNy01My0yMi4yLTExMi43LTIyLjItMTY1LjggMC01MS4yIDIxLjgtOTIgNjIuNS0xMTMuNyAxMTMuNy0yMi4yIDUzLTIyLjIgMTEyLjcgMCAxNjUuOCAxMC44IDI1LjMgMjYuNCA0OC40IDQ1LjggNjcuOW0tNjIuNCAxOTcuOHY2NDIuMWgxMDdjMzYuOC0uMiA3My40LTMuNiAxMDkuNS0xMC40IDM2LjMtNi40IDcxLjMtMTguNiAxMDMuNy0zNi4yIDMwLjYtMTYuNiA1Ny00MCA3Ny4zLTY4LjIgMjEuMy0zMS4zIDMyLTY4LjYgMzAuNS0xMDYuNVYxMDk3em0tMzQ2LjgtMjY5LjJjMjguNC4yIDU2LjYtNS41IDgyLjgtMTYuNyA1MS4yLTIxLjggOTEuOS02Mi41IDExMy42LTExMy43IDIyLjItNTMgMjIuMi0xMTIuNy0uMS0xNjUuOC0yMS44LTUxLjItNjIuNS05Mi0xMTMuNy0xMTMuNy0yNi4yLTExLjItNTQuNC0xNi45LTgyLjktMTYuNy0yOC4zLS4yLTU2LjMgNS41LTgyLjMgMTYuNy0xOS40IDguMy0yNS41IDE5LjEtNTIuMiAzMi4xdjMyOWMyNi44IDEzLjEgMzIuOCAyMy44IDUyLjIgMzIuMSAyNi4xIDExLjMgNTQuMiAxNi45IDgyLjYgMTYuN20tMTM0LjggMTA4MS4xYzI2LjggNS44IDM2LjQgMTAuMyA1NS40IDEyLjkgMjAuOCAzIDQxLjggNC41IDYyLjggNC42IDMyLjQtLjIgNjQuOC0zLjYgOTYuNS0xMC40IDMyLjMtNi41IDYzLjMtMTguNiA5MS41LTM1LjcgMjcuNy0xNyA1MS00MC4yIDY4LjItNjcuNyAxOS0zMi4xIDI4LjMtNjkuMSAyNi45LTEwNi40di03NDNoLTQwMS4zek0wIDIxMTMuN2wxMzkxLjMgMjQwLjhWMEwwIDI0MC44eiIvPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Im0xMDE2LjcgNzIyLjQtNjQyLjEgMzkuMXYxNDguMWwyNDAuOC05Ljd2Njg2LjdsMTYwLjUgOS40Vjg5My42bDI0MC44LTEwLjd6Ii8+PC9zdmc+"
      },
      "displayName": "Microsoft Teams",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 6,
          "name": "Communication"
        },
        {
          "id": 28,
          "name": "HITL"
        }
      ]
    },
    {
      "id": 565,
      "icon": "fa:sticky-note",
      "name": "n8n-nodes-base.stickyNote",
      "codex": {
        "data": {
          "alias": [
            "Comments",
            "Notes",
            "Sticky"
          ],
          "categories": [
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers"
            ]
          }
        }
      },
      "group": "[\"input\"]",
      "defaults": {
        "name": "Sticky Note",
        "color": "#FFD233"
      },
      "iconData": {
        "icon": "sticky-note",
        "type": "icon"
      },
      "displayName": "Sticky Note",
      "typeVersion": 1,
      "nodeCategories": [
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    },
    {
      "id": 834,
      "icon": "file:code.svg",
      "name": "n8n-nodes-base.code",
      "codex": {
        "data": {
          "alias": [
            "cpde",
            "Javascript",
            "JS",
            "Python",
            "Script",
            "Custom Code",
            "Function"
          ],
          "details": "The Code node allows you to execute JavaScript in your workflow.",
          "resources": {
            "primaryDocumentation": [
              {
                "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.code/"
              }
            ]
          },
          "categories": [
            "Development",
            "Core Nodes"
          ],
          "nodeVersion": "1.0",
          "codexVersion": "1.0",
          "subcategories": {
            "Core Nodes": [
              "Helpers",
              "Data Transformation"
            ]
          }
        }
      },
      "group": "[\"transform\"]",
      "defaults": {
        "name": "Code"
      },
      "iconData": {
        "type": "file",
        "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xMTcxXzQ0MSkiPgo8cGF0aCBkPSJNMTcwLjI4MyA0OEgxOTYuNUMyMDMuMTI3IDQ4IDIwOC41IDQyLjYyNzQgMjA4LjUgMzZWMTJDMjA4LjUgNS4zNzI1OCAyMDMuMTI3IDAgMTk2LjUgMEgxNzAuMjgzQzEyNi4xIDAgOTAuMjgzIDM1LjgxNzIgOTAuMjgzIDgwVjE3NkM5MC4yODMgMjA2LjkyOCA2NS4yMTA5IDIzMiAzNC4yODMgMjMySDIzQzE2LjM3MjYgMjMyIDExIDIzNy4zNzIgMTEgMjQ0VjI2OEMxMSAyNzQuNjI3IDE2LjM3MjQgMjgwIDIyLjk5OTYgMjgwTDM0LjI4MyAyODBDNjUuMjEwOSAyODAgOTAuMjgzIDMwNS4wNzIgOTAuMjgzIDMzNlY0NDBDOTAuMjgzIDQ3OS43NjQgMTIyLjUxOCA1MTIgMTYyLjI4MyA1MTJIMTk2LjVDMjAzLjEyNyA1MTIgMjA4LjUgNTA2LjYyNyAyMDguNSA1MDBWNDc2QzIwOC41IDQ2OS4zNzMgMjAzLjEyNyA0NjQgMTk2LjUgNDY0SDE2Mi4yODNDMTQ5LjAyOCA0NjQgMTM4LjI4MyA0NTMuMjU1IDEzOC4yODMgNDQwVjMzNkMxMzguMjgzIDMwOS4wMjIgMTI4LjAxMSAyODQuNDQzIDExMS4xNjQgMjY1Ljk2MUMxMDYuMTA5IDI2MC40MTYgMTA2LjEwOSAyNTEuNTg0IDExMS4xNjQgMjQ2LjAzOUMxMjguMDExIDIyNy41NTcgMTM4LjI4MyAyMDIuOTc4IDEzOC4yODMgMTc2VjgwQzEzOC4yODMgNjIuMzI2OSAxNTIuNjEgNDggMTcwLjI4MyA0OFoiIGZpbGw9IiNGRjk5MjIiLz4KPHBhdGggZD0iTTMwNSAzNkMzMDUgNDIuNjI3NCAzMTAuMzczIDQ4IDMxNyA0OEgzNDIuOTc5QzM2MC42NTIgNDggMzc0Ljk3OCA2Mi4zMjY5IDM3NC45NzggODBWMTc2QzM3NC45NzggMjAyLjk3OCAzODUuMjUxIDIyNy41NTcgNDAyLjA5OCAyNDYuMDM5QzQwNy4xNTMgMjUxLjU4NCA0MDcuMTUzIDI2MC40MTYgNDAyLjA5OCAyNjUuOTYxQzM4NS4yNTEgMjg0LjQ0MyAzNzQuOTc4IDMwOS4wMjIgMzc0Ljk3OCAzMzZWNDMyQzM3NC45NzggNDQ5LjY3MyAzNjAuNjUyIDQ2NCAzNDIuOTc5IDQ2NEgzMTdDMzEwLjM3MyA0NjQgMzA1IDQ2OS4zNzMgMzA1IDQ3NlY1MDBDMzA1IDUwNi42MjcgMzEwLjM3MyA1MTIgMzE3IDUxMkgzNDIuOTc5QzM4Ny4xNjEgNTEyIDQyMi45NzggNDc2LjE4MyA0MjIuOTc4IDQzMlYzMzZDNDIyLjk3OCAzMDUuMDcyIDQ0OC4wNTEgMjgwIDQ3OC45NzkgMjgwSDQ5MEM0OTYuNjI3IDI4MCA1MDIgMjc0LjYyOCA1MDIgMjY4VjI0NEM1MDIgMjM3LjM3MyA0OTYuNjI4IDIzMiA0OTAgMjMyTDQ3OC45NzkgMjMyQzQ0OC4wNTEgMjMyIDQyMi45NzggMjA2LjkyOCA0MjIuOTc4IDE3NlY4MEM0MjIuOTc4IDM1LjgxNzIgMzg3LjE2MSAwIDM0Mi45NzkgMEgzMTdDMzEwLjM3MyAwIDMwNSA1LjM3MjU4IDMwNSAxMlYzNloiIGZpbGw9IiNGRjk5MjIiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8xMTcxXzQ0MSI+CjxyZWN0IHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo="
      },
      "displayName": "Code",
      "typeVersion": 2,
      "nodeCategories": [
        {
          "id": 5,
          "name": "Development"
        },
        {
          "id": 9,
          "name": "Core Nodes"
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 40,
      "name": "Support Chatbot"
    }
  ],
  "image": []
}